*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}





/**********ROOT**********/
#root{
  /* border: 2px solid orange; */
  overflow-x: hidden;
  padding: 50px 25px;
  display: block;
  margin-top: 50px;
}





/**********NAVBAR**********/
.navbar{
  width: 100%;
  display: flex;
  /* border: 2px solid violet; */
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 5px;
  left: 0px;
  
}
.nav-ele{
  /* border: 2px solid blue; */
  padding: 10px 15px;
}
.searchbar{
  flex-grow: 1;
  background-color: rgb(65, 61, 61);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /* margin: 5px 0px; */
}
.search{
  background-color: rgb(214, 162, 50);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid rgb(214, 162, 50);
  /* margin: 5px 0px; */
}
.search:hover{
  cursor: pointer;
  border: 2px solid white;
}
.navbar input{
  min-width: 0px;
  height: 48px;
  /* border: none; */
}





/**********MOVIE**********/
.movie{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 200px;
  height: auto;
  /* border: 2px solid red; */
  background-color: rgba(28, 28, 28, 0.753);
  text-align: left;
  flex-shrink: 0;
  margin-right: 20px;
}
.thumbnail{
  width: 100%;
  height: 300px;
  /* border: 2px solid yellow; */
}
.title{
  width: 100%;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
  padding-bottom: 10px;
  /* border: 2px solid blue; */
}
.rating{
  padding: 10px;
  /* border: 2px solid red; */
}





/**********COLLECTION**********/
.collection{
  /* border: 2px solid blue; */
  padding-bottom: 50px;
}
.collection-title{
  padding-bottom: 5px;
}
.collection-movies{
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  overflow-x: auto;
  /* border: 2px solid green; */
}





/**********SIGNIN**********/
.signin{
  /* border: 2px solid red; */
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 50px 50px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.247);
}
.signin input{
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
.signin button{
  min-width: 300px;
}
.form-ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
  margin-bottom: 30px;
}
.form-li{
  display: flex;
  justify-content: space-between;
}





/***********DETAILS**********/
.details{
  margin: auto;
  max-width: 1000px;
  background-color: rgb(69, 65, 65);
  padding: 20px 50px;
  border-radius: 20px;
  /* border: 2px solid red; */
}
.hero-detail{
  display: flex;
  gap : 50px;
}
.top-detail{
  display: flex;
  gap : 30px;
  flex-wrap: wrap;
}
.plot-title{
  color: rgb(255, 217, 0);
}
.top-title{
  color: rgb(0, 136, 255);
}




/**********LOGIN*********/
/*****same-as-signin*****/


