*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}





/**********ROOT**********/
#root{
  /* border: 2px solid orange; */
  overflow-x: hidden;
  padding: 50px 25px;
  display: block;
  margin-top: 50px;
}





/**********NAVBAR**********/
.navbar{
  width: 100%;
  display: flex;
  /* border: 2px solid violet; */
  justify-content: space-between;
  position: fixed;
  top: 5px;
  left: 0;
  
}
.nav-ele{
  /* border: 2px solid blue; */
  padding: 10px 15px;
}
.searchbar{
  flex-grow: 1;
  background-color: rgb(65, 61, 61);
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /* margin: 5px 0px; */
}
.search{
  background-color: rgb(194, 152, 38);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid rgb(194, 152, 38);
  /* margin: 5px 0px; */
}
.search:hover{
  cursor: pointer;
  border: 2px solid white;
}





/**********MOVIE**********/
.movie{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 200px;
  height: 370px;
  /* border: 2px solid red; */
  background-color: rgba(28, 28, 28, 0.753);
  text-align: left;
  flex-shrink: 0;
  margin-right: 20px;
}
.thumbnail{
  width: 100%;
  height: 300px;
  /* border: 2px solid yellow; */
}
.title{
  width: 100%;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
  padding-bottom: 10px;
  /* border: 2px solid blue; */
}
.rating{
  padding-left: 10px;
  /* border: 2px solid red; */
}





/**********COLLECTION**********/
.collection{
  /* border: 2px solid blue; */
  padding-bottom: 50px;
}
.collection-title{
  padding-bottom: 5px;
}
.collection-movies{
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  overflow-x: auto;
  /* border: 2px solid green; */
}





input{
  min-width: 0px;
}





